<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE suite SYSTEM 'http://testng.org/testng-1.0.dtd'>
<suite name='Mumms Automation test suite' parallel='tests' thread-count='15'>

<parameter name='suiteExecuted' value='Regression' />
<parameter name='executionType' value='Sequential' />
<listeners>
	<listener class-name="org.uncommons.reportng.HTMLReporter" />
	<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	<listener class-name="com.automation.utilities.AssignTestPriorityTransformer" />
</listeners>
	<test name="chromeWindowsLocal" preserve-order='false'>
			<parameter name="browser" value="chrome"></parameter>
			<parameter name="automationName" value="selenium"></parameter>
			<parameter name="browserVersion" value="46.0"></parameter>
			<parameter name="platformName" value="windows 7"></parameter>
			<parameter name="environment" value="local"></parameter>
		 <classes>
			<class name="com.Mumms.scripts.Admin">
				<methods>
			<parameter name="userrole" value="AdminUser "></parameter>
					 <!-- <include name="addNewRole" />
					 <include name="deleteCreatedRole" />
					 <include name="addNewProgram" />
					 <include name="deleteCreatedProgram" />
					 <include name="addNewReligion" />
					 <include name="deleteCreatedReligion" />
					 <include name="addNewReasons" />
					 <include name="updateAdjustmentReasons" />
					 <include name="addIDGTeams" /> -->
					 <!-- <include name="verifyingPhysicianGrid" />
					 <include name="searchPhysicianGrid" />
					 <include name="verifyRoleAssignments" />
					 <include name="roleAssignmentsDragVerify" />
					 <include name="verifyingFacilities" />
					 <include name="saveChurches" />
					 <include name="addChurches" />
					 <include name="saveHospiceElection" />
					 <include name="addHospiceElection" />
					 <include name="addInsuranceCarrier" />
					 <include name="insuranceCarrierSearch" />
					 <include name="insuranceCarrierUpdate" />
					 <include name="addMedicareIntermediary" />
					 <include name="deleteMedicare" />
					 <include name="wrongPasswordMedicare" />
					 <include name="addPhysicianServicesRecord" />
					 <include name="updatePhysicianServicesRecord" />
					 <include name="addRecordRoomBoardRateTiers" /> -->
					 <include name="deleteCreatedProgram" />
				</methods>
			 </class>
		 </classes>
	</test>

</suite>